/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.h1 {
  font-size: 28px;
}
.language-list {
  display: flex;
  list-style-type: none;
}
.repos-container {
  display: flex;
  flex-wrap: wrap;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
